[Unit]
Description=Mount an RBD Image

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/sbin/modprobe rbd
ExecStart=/bin/bash -c '\
    pool=$(echo %i | cut -f1 -d"-"); \
    image=$(echo %i | cut -f2 -d"-"); \
    id=$(echo %i | cut -f3 -d"-"); \
    docker run -v /etc/ceph:/etc/ceph -v /dev:/dev --net=host --privileged -t ceph/base rbd map $image --pool $pool --id $id;'
ExecStop=/bin/bash -c '\
    pool=$(echo %i | cut -f1 -d"-"); \
    image=$(echo %i | cut -f2 -d"-"); \
    docker run -v /etc/ceph:/etc/ceph -v /dev:/dev --net=host --privileged -t ceph/base rbd unmap /dev/rbd/$pool/$image'

[X-Fleet]
Global=true
