[Unit]
Description=Registrator
After=docker.service
Requires=docker.service
After=etcd.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill registrator 
ExecStartPre=-/usr/bin/docker rm registrator
ExecStart=\
  /usr/bin/docker run -v /var/run/docker.sock:/tmp/docker.sock \
                      -h ${COREOS_PRIVATE_IPV4} \
                      --name registrator \
                      gliderlabs/registrator \
                      -ttl=300 -ttl-refresh=60 \
                      skydns2://${COREOS_PRIVATE_IPV4}:4001/d26a.de 
ExecStop=-/usr/bin/docker stop registrator
Restart=always

[X-Fleet]
Global=true
