[Unit]
Description=Skydns
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill skydns
ExecStartPre=-/usr/bin/docker rm skydns
ExecStart=\
  /usr/bin/docker run -p 53:53/udp \
                      -p 53:53 \
                      -e ETCD_MACHINES=http://${COREOS_PRIVATE_IPV4}:4001 \
                      -e SKYDNS_DOMAIN=d26a.de \
                      --name skydns \
                      skynetservices/skydns -addr 0.0.0.0:53
ExecStop=/usr/bin/docker stop skydns
Restart=always

[X-Fleet]
Global=true
