[Unit]
After=docker.service
After=ceph-mon.service
After=ceph-mds@.service
DefaultDependencies=no
Conflicts=umount.target
Before=remote-fs.target umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/mkdir -p %f
ExecStart=/bin/bash -c 'mount -t ceph ${COREOS_PRIVATE_IPV4}:6789:/ %f -o name=admin,secret=$(docker run -v /etc/ceph:/etc/ceph -v /dev:/dev --net=host --privileged -t ceph/base ceph auth get-key client.admin)'
ExecStop=/usr/bin/umount %f

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
