[Unit]
Description=plex
After=docker.service
After=mount-ceph@mnt-data.service
Requires=docker.service
Requires=mount-ceph@mnt-data.service

[Service]
TimeoutStartSec=300
ExecStartPre=/bin/mkdir -p /mnt/data/plex
ExecStartPre=-/usr/bin/docker kill plex 
ExecStartPre=-/usr/bin/docker rm plex
ExecStart=\
  /usr/bin/docker run -h %H \
                      -v /mnt/data/plex:/config \
                      -v /mnt/data/videos/media:/data \
                      -e SERVICE_NAME=plex \
                      -p 32400:32400 \
                      --name plex \
                      bugroger/plex
ExecStop=/usr/bin/docker stop plex 
Restart=always

[X-Fleet]
Conflicts=sonarr.service
Conflicts=sabnzb.service
