[Unit]
Description=sonarr
After=docker.service
After=mount-ceph@mnt-data.service
Requires=docker.service
Requires=mount-ceph@mnt-data.service

[Service]
TimeoutStartSec=300
ExecStartPre=/bin/mkdir -p /mnt/data/sonarr/config
ExecStartPre=/bin/mkdir -p /mnt/data/videos/media
ExecStartPre=-/usr/bin/docker kill sonarr
ExecStartPre=-/usr/bin/docker rm sonarr
ExecStartPre=-/usr/bin/docker pull bugroger/sonarr
ExecStart=\
  /usr/bin/docker run -v /mnt/data/sonarr/config:/volumes/config \
                      -v /mnt/data/videos/downloads/tv:/volumes/completed \
                      -v /mnt/data/videos/media:/volumes/media \
                      -p 8989:8989 \
                      -e SERVICE_NAME=sonarr \
                      --name sonarr bugroger/sonarr
ExecStop=/usr/bin/docker stop sonarr
Restart=always

[X-Fleet]
Conflicts=plex.service
Conflicts=sabnzb.service
