[Unit]
Description=Certificate Authority Server
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/var/lib/d26a/scripts/init-ca.sh -t 3f71fde1996b56be1f6bda9bf445d538 -o kubernetes.d26a.de %>
ExecStart=/opt/bin/cfssl serve -ca /etc/kubernetes/ssl/ca.pem -ca-key=/etc/kubernetes/ssl/ca-key.pem -config /etc/kubernetes/ssl/cfssl.json -address 0.0.0.0 -port 8888 
Restart=always
RestartSec=10
