[Unit]
Description=Generate Kubernetes API Server certificates
Requires=cfssl.service
After=cfssl.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/environment
ExecStart=/var/lib/d26a/scripts/make-certs.sh -r 127.0.0.1:8888 \
    -t 3f71fde1996b56be1f6bda9bf445d538 \
    -c ${COREOS_PUBLIC_IPV4}@kubernetes.d26a.de \
    -s kubernetes.d26a.de \
    -s *.kubernetes \
    -s *.kubernetes.d26a.de \
    -s ${COREOS_PUBLIC_IPV4} \
    -s 10.0.0.1 \
    -s 127.0.0.1 \
    -s kubernetes \
    -s kubernetes.default \
    -s kubernetes.default.svc \
    -s kubernetes.default.svc.d26a.de
