[Unit]
Description=Custom Kernel Modules
Before=local-fs.target
ConditionPathExists=/opt/lib64
ConditionPathExists=/opt/lib64.wd

[Mount]
Type=overlay
What=overlay
Where=/usr/lib64
Options=lowerdir=/usr/lib64,upperdir=/opt/lib64,workdir=/opt/lib64.wd

[Install]
WantedBy=local-fs.target
